<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RepoUrl" value="https://bitbucket.domain" />
    <add key="RepoSlugBlacklist" value="non-production-repositories" />
    <add key="AuthUser" value="user" />
    <add key="AuthPassword" value="password" />
  </appSettings>
</configuration>